@font-face {
    font-family: 'JackInputRegular';
    src: url('../fonts/jai.eot');
    src: url('../fonts/jai.eot') format('embedded-opentype'),
        url('../fonts/jai.woff') format('woff'),
        url('../fonts/jai.ttf') format('truetype'),
        url('../fonts/jai.svg#JackInputRegular') format('svg');
}

@font-face {
    font-family: 'Conv_Lobster_1.3';
    src: url('../fonts/Lobster_1.3.eot');
    src: url('../fonts/Lobster_1.3.woff') format('woff'), 
        url('../fonts/Lobster_1.3.ttf') format('truetype'), 
        url('../fonts/Lobster_1.3.svg') format('svg');	
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_Gibson-Regular';
    src: url('../fonts/Gibson-Regular.eot');
    src: url('../fonts/Gibson-Regular.woff') format('woff'), 
        url('../fonts/Gibson-Regular.ttf') format('truetype'), 
        url('../fonts/Gibson-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}